.main_container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  padding: 0 10%;
  flex: 0 0 10vh;
  background-color: #720909;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav_option {
  color: white;
  margin-right: 40px;
  transition: text-shadow .1s ease-in-out;
  cursor: pointer;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50px;
    margin-right: 20px;
}

.title_text {
    color: white;
    font-size: 36px;
}

.title_subtext {
    color: white;
    font-size: 18px;
}

.nav_option:hover {
  text-shadow: 0 0 0.75px #fff, 0 0 0.75px #fff, 0 0 0.75px #fff;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 100px;
}
